.buy__input, .buy__btn {
    margin-top: 24px;
}

.card__form {
    width: 333px;
}

.card {
    padding: 24px;
    background-color: rgba(243, 244, 246, 1);
    border-radius: 16px;
}

.card__bottom {
    display: flex;
    margin-top: 16px;
    gap: 24px;
}

.card__buy {
    margin-top: 24px;
}