.seats {
  display: none;
  width: 100%;
}

.seat {
  margin-top: 40px;
  &:first-child {
    margin-top: 0px;
  }
}

.seat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-size: 14px;
}
.seat__body {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 8px;
}

.seat__delete {
  padding: 0;
  width: 24px;
  height: 24px;
}

.seat__modal {
  padding: 0;
  align-items: flex-end;
}

.seat__modal_body {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.seat__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 8px 0;
  width: 100%;
  z-index: 5;
  border-radius: 0;

  &:disabled {
    background-color: transparent;
    color: var(--text-primary);

    *::after {
      content: '';
      position: absolute;
      width: calc(100% + 48px);
      height: 100%;
      left: -24px;
      top: 0;
      background-color: var(--bg-secondary);
      z-index: -1;
    }
  }
}

.seat__btn_price {
  @extend .seat__btn;
  justify-content: flex-start;
  gap: 8px;
}

.seat__select {
  flex: 1 1 50%;
  flex-wrap: nowrap;
}

.seat__price {
  color: var(--text-tertiary);
}

.seats__add {
  margin-top: 24px;
}

@media (max-width: 768px) {
  .seats {
    display: block;
  }
}
