.input {
  display: block;
  input {
    margin-top: 6px;
    border: 1px solid var(--border-light);
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;

    &:focus {
        outline: none;
    }
  }
}

.input__label {
  display: block;
  font-size: 14px;
}

.input_fullWidth {
  width: 100%;
  input {
    width: 100%;
  }
}
