.schedule {
  max-width: 550px;
  margin-top: 24px;
}

.schedule,
.times {
  height: 36px;
  width: 100%;
}

.hall {
  margin-top: 24px;
  height: 8px;
  width: 100px;
}

.times {
  margin-top: 12px;
  max-width: 350px;
}
