.rating {
  display: flex;
  gap: 4px;
}

.rating__star {
  position: relative;
  overflow: hidden;
  background-color: var(--indicator-light);
  width: 20px;
  height: 20px;
  clip-path: path(
    'M9.43853 0.429059C9.6682 -0.0342963 10.3318 -0.0342955 10.5615 0.42906L13.1666 5.68477C13.2578 5.86877 13.4341 5.9963 13.638 6.0258L19.4632 6.8686C19.9768 6.9429 20.1819 7.57129 19.8102 7.93196L15.5951 12.023C15.4475 12.1662 15.3802 12.3725 15.415 12.5748L16.4101 18.3514C16.4978 18.8606 15.9609 19.249 15.5016 19.0085L10.2914 16.2812C10.109 16.1857 9.89104 16.1857 9.70864 16.2812L4.49841 19.0085C4.03907 19.249 3.50221 18.8606 3.58993 18.3513L4.585 12.5748C4.61983 12.3725 4.5525 12.1662 4.40493 12.023L0.189768 7.93196C-0.181851 7.57129 0.0232136 6.9429 0.536777 6.8686L6.36198 6.0258C6.56592 5.9963 6.74221 5.86877 6.83342 5.68477L9.43853 0.429059Z'
  );
}

.rating__star_yellow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--indicator-attention);
}
