*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    color: var(--text-primary);
    font-size: 16px;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}


:root {
    --text-primary: rgba(20, 28, 36, 1);
    --text-tertiary: rgba(99, 112, 131, 1);
    --text-quartenery: rgba(151, 161, 175, 1);
    --text-secondary: rgba(52, 64, 81, 1);
    --purple: rgba(149, 52, 210, 1);
    --purple-dark: rgba(113, 45, 156, 1);
    --invert: white;
    --indicator-light: rgba(206, 210, 218, 1);
    --indicator-medium: rgba(151, 161, 175, 1);
    --indicator-attention: rgba(255, 178, 25, 1);
    --indicator-error: rgba(246, 76, 76, 1);
    --bg-secondary: rgba(245, 245, 248, 1);
    --border-light: rgba(206, 210, 218, 1);
}

.container {
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
}

.block_scroll {
    overflow: hidden;
}

footer {
    height: 250px;
}



