.seats_body {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-top: 24px;
}

.row_number {
    width: 12px;
}

.row {
    display: flex;
    gap: 24px;
}

.txt {
    font-size: 12px;
    color: var(--text-secondary);
}

.seat {
    width: 16px;
    height: 16px;
    position: relative;
}

.seat_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
