.button {
  display: flex;
  gap: 10px;
  color: var(--text-tertiary);
  font-weight: 500;
  align-items: center;
  transition: 0.3s;

  svg path {
    transition: 0.3s;
  }

  &:hover {
    color: var(--text-secondary);
    svg path {
      fill: var(--text-secondary);
    }
  }
}
