.button {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--purple-dark);
  border-radius: 4px;
  transition: 0.3s;
  color: var(--invert);
  text-align: center;

  span {
    display: none;
  }

  &:hover {
    background-color: var(--purple);
  }
  &:hover:not(:disabled) {
  .seat__info {
      display: block;
    }
  }

  &:disabled {
    background-color: var(--indicator-light);
  }
}

.button_active {
  width: 35px;
  height: 35px;
  border-radius: 12px;
  font-size: 14px;

  span {
    display: inline;
  }
}

.seat__info {
  position: absolute;
  top: -60px;
  font-size: 12px;
  display: none;
  white-space: nowrap;
  background-color: var(--invert);
  text-align: left;
  padding: 6px;
}

.seat__price {
  color: var(--text-primary);
  font-weight: 600;
}

.seat__place {
  margin-top: 4px;
  color: var(--text-tertiary);
}
